

<div class="topnav">
    <a href="#Home" class="active" [routerLink]="['./home-page']" >Home</a>
    <a href="#clothing" [routerLink]="['./colthings-component']" >Clothing</a>
    <a href="#footwear" [routerLink]="['./footwear-component']">Footwear</a>
    <a href="#electronics" [routerLink]="['./electronics-component']">Electronics</a>
    <a href="#mobile" [routerLink]="['./mobile-component']">Mobile</a>
    <a [routerLink]="['/customer-login']" name="login" style="float: right">Login</a>
    <div class="AdminLoginComponent ">
      <form action="/action_page.php">
        <ul class="nav navbar-nav">  
      </ul>
      </form>
    </div>
  </div>
  
  